@charset "UTF-8";
.container-fluid{
    position: absolute;
    top: 50px;
    padding: 0px;
}

.container-body, .container-sidebar{
    position: relative;
    border-radius: 15px;
    float:left;
    height: auto;
    padding: 10px;
    margin: 0px;
    /* border: 1px solid #c4c4c4; */
}

/* Side Menu CSS */
.sidebar.icon *{
    margin-right: auto;
    margin-left: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.msg-menu-btn{
    padding: 0px;
}

.msg-menu-btn > li{
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    width: 150px;
    padding: 7px;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

li.msg-menu-btn:hover{
    box-shadow: 0 2px 2px 2px grey;
    cursor: pointer;
}

.msg-menu-btn > li:nth-child(1){
    background-color: rgb(51, 64, 138);
    width: 170px; height: 50px;
    line-height: 38px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}
.msg-menu-btn > li:nth-child(2){
    background-color: magenta;
}
.msg-menu-btn > li:nth-child(3){
    background-color: aquamarine
}
.msg-menu-btn > li:nth-child(4){
    background-color: rgb(150, 228, 105);
}
.msg-menu-btn > li:nth-child(5){
    background-color: rgb(214, 73, 73);
}
.msg-menu-btn > li:nth-child(6){
    background-color: rgb(173, 178, 255);
}
.msg-menu-btn > li:nth-child(7){
    background-color: rgb(124, 124, 124);
}
.msg-menu-btn > li:nth-child(8){
    background-color: rgb(172, 172, 172);
}

/* Container Main Body CSS */
.searchcontainer > *{
	display: inline-block;
}

.searchkeyword{
	display: block;
    padding: 6px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 400px;
    background: #f1f1f1;
    border-radius: 5px;
}

form.searchform button{
    float: left;
    width: 40px;
    padding: 10px;
    background: #f1f1f1;
    color: darkgreen;
    font-size: 17px;
    /* border: 1px solid grey; */
    border-left: none;
    cursor: pointer;
    border-radius: 5px;
    height: inherit;
    vertical-align: middle;
}

.trashicon, .restoreicon{
	clear: left;
	margin-left: 15px;
	padding-top: 10px;
}

div.msglist{
    height: 550px;
}

div.msglist table * {
	/* border: 1px solid #c6c8d1; */
	padding: 0px;
}

div.msglist table thead tr th {
    text-align: center;
    height: 15px !important;
    font-weight:700;
    border: none;
}

th#thtrwidth-4, th#thtrwidth-5{
	text-align: left;
}

table {
    height: 100%;
    width: 1100px;
}


table tbody {
    /* body takes all the remaining available space */
    display: block;
/*     overflow-y: auto; */
    border: none;
}

thead > tr{
    height: 10%;
    width: 1100px;
}

td.msgitem {
	height: 15%;
	padding: 0px;
	border: none;
}

tr.msgitem, tr.msgitem > td{
	border: none !important;
}

#selectall{
	margin-bottom: 3px;
}

#thtrwidth-1, div.checkbox, i,td#thtrwidth-2, td#thtrwidth-3{
	vertical-align: middle;
	text-align: center;
	border: none !important;
	/* padding-bottom: 3px; */
}

#thtrwidth-1{
	width: 30px;
    border: none !important;
}
	
#thtrwidth-2, #thtrwidth-3{
	width: 62px;
    height: 15px;
}

#thtrwidth-4{
	text-indent: 10px;
	min-width: 190px;
	white-space: nowrap; 
	max-width: 190px !important;
	text-overflow: ellipsis; 
	overflow: hidden;
}
#thtrwidth-5{
	text-indent: 10px;
	min-width: 643px;
	white-space: nowrap; 
	max-width: 643px !important;
	text-overflow: ellipsis; 
	overflow: hidden;
}
#thtrwidth-6{
	width: 210px;
	text-align: center;
}
#thtrwidth-7{
	text-indent: 10px;
	min-width: 453px;
	white-space: nowrap; 
	max-width: 453px !important;
	text-overflow: ellipsis; 
	overflow: hidden;
}

th{
	background-color: #f4f8ea; 
}

table thead,
table tbody tr {
    display: table;
}

/* Modal Form Size */
.modal-dialog.writeForm{
	width: 100% !important;
} 

.modal-dialog{
	max-width: 1200px !important;
	height: 100%;
} 

.modal-content{
	height: 90%;
	overflow-y: auto;
}

.modal-header, .modal-body{
	margin-top: 16px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.form-control.info{
	display: inline-block;
	width: 90%;
}

input#searchRecipient{
	display: inline-block;
	width: 10%;
	margin-left: 60px;
}

input{
	padding: 0px;
}

.modal-header, .modal-footer {
	border: none;
}


.modal-footer{
	margin-bottom: 16px;
}

.modal-header{
	padding-top: 0px;
}

/* Recipient Search Loading */
.ui-autocomplete-loading{ 
	background: white url('http://f.goodkiss.co.kr/sample/images/waiting.gif') right center no-repeat;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    position: relative;
    z-index:1060;
}

 /* Recipient Label Adding */
 .recipientadded{
 	display: inline-block;
 }
 
ul#recipientAddedLabel > li{
 	list-style-type: none;
 	text-align: center;
 	width: auto;
 	background-color: #87ff44;
 	border-radius: 10px;
 	opacity: 50%;
 	padding-right: 5px;
 	padding-left: 5px;
 	float: left;
 }
 
 .removelabel{
	cursor: pointer;
	outline:none;
 }
 
.clickable-row{
 	cursor: pointer;
 }


/* Detail Message CSS */

.menufnicons{
    margin-top: 10px
}

.menufnicons > ul {
	padding: 0px;
	margin-bottom: 0px;
}

.menufnicons > ul > li{
    width: auto;
    margin-right: 10px;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    color: grey;
    font-weight: bold;
    padding: .375rem .75rem;
    border: 1px solid grey;  
}

.canvasboard, .replyform{
	margin-top: 10px;
    border: 1px solid rgb(187, 187, 187);
    background-color: white;
    border-radius: 20px;
    padding: 0 10px 10px;
}
.canvasboard > .msglist{
	height: auto;
    padding: 10px;
}

.msgheadings{
    text-indent: 15px;
}

p.sender{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

p.recipient{
    font-size: 15px;
    margin-bottom: 5px;
}

.msgbody{
    border-radius: 15px;
    padding: 0px 20px;
}
.replyfn{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.btn.cancel, .btn.sendreply{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.replyfn *, .btn.cancel, .btn.sendreply{
    background-color: white;
    display: inline-block;
    margin-right: 40px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
}
.replyfn *:hover, .menufnicons > ul > li:hover, .btn.cancel:hover, .btn.sendreply:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
hr{
	margin: 5px;
}

#rSubject{
	margin-bottom: 5px;
}

.replyform {
	padding: 10px;
}

.replyform > form > span:nth-child(2){
	float: left;
	margin-bottom: 5px;
}

.replyform > form > span:nth-child(3){
	clear: left;
}

.replyform > form > ul#recipientAddedLabel{
	height: 20px;
	margin-left: 24px;
}

#summernote_2{
	margin-bottom: 10px;
}