body {
    font-family: 'Do Hyeon', sans-serif;
    }

    #topText{
        padding-right: 30px;
        text-align: end;
        font-size: 20px;
        margin: 10px 0px;
        float: right;
    }

    #topText > a {
        text-decoration: none;
        color: #93b4d1;
        padding: 0px 10px;
    }

    #topText > a:hover {
        transition: color 0.5s;
        color: #467baa;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 60%;
        height: 50px;
        position: absolute;
        background-color: rgb(212, 236, 252);
        z-index: 7;
    }

    .menu li {
        float: left;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .menu a {
        display: flex;  
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #467baa;
        text-decoration: none;
        position: relative;
        font-size: 25px;
        z-index: 9;
    }


    .menu li.slider {
        width: 20%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #96CAFA;
        z-index: 8;
        transition: left 1s, background-color 1s;
    }

    .menu li:nth-child(1):hover ~ .slider, .menu li:nth-child(1):focus ~
        .slider, .menu li:nth-child(1):active ~ .slider {
        left: 0;
        background-color: #96CAFA;
    }

    .menu li:nth-child(2):hover ~ .slider, .menu li:nth-child(2):focus ~
        .slider, .menu li:nth-child(2):active ~ .slider {
        left: 20%;
        background-color: #96CAFA;
    }

    .menu li:nth-child(3):hover ~ .slider, .menu li:nth-child(3):focus ~
        .slider, .menu li:nth-child(3):active ~ .slider {
        left: 40%;
        background-color: #96CAFA;
    }

    .menu li:nth-child(4):hover ~ .slider, .menu li:nth-child(4):focus ~
        .slider, .menu li:nth-child(4):active ~ .slider {
        left: 60%;
        background-color: #96CAFA;
    }

    .menu li:nth-child(5):hover ~ .slider, .menu li:nth-child(5):focus ~
        .slider, .menu li:nth-child(5):active ~ .slider {
        left: 80%;
        background-color: #96CAFA;
    }
