#container {
    margin: 30px 150px;
}

table{
    width: 100%;
}

th {
    height: 30px;
    color: white;
    background-color: #333333;
    font-size: 20px;
}

th {
    height: 40px;
}

td {
    height: 30px;
}

tr:hover{
    background-color: #dddddd;
}

td, th {
    text-align: center;
}

.overdate{
    color: red;
}