body{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.2em;
}

span{
    font-style: bold;
}

#container {
    width: 880px;
    margin: auto;
    padding: 20px 70px;
}

input, select{
    margin-bottom: 10px;
    font-size: medium;
}

select, .date{
    height: 25px;
}

#receiver {
    border: 1px solid black;
    height: 150px;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
#submitBox > button {
	position: relative;
    width: 100px;
}

#submitBox {
    margin: auto auto;
    text-align: center;
}
.ticketText {
    width: 100%;
    height: 3cm;
    border: 1px solid black;
    resize: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.profileImg{
    width: 70px;
}

.people{
    border: 1px solid gray;
    width:70px;
    text-align: center;
    margin: 5px 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.people > span {
	font-size: 10px;
}


.delete {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -1;
}

.rightMargin {
    margin-right: 35px;
}

.line1 {
    width: 150px;
}

.title {
    width: 325px;
}

.progress {
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
}

#close, #delete {
	margin-left: 30px;
}

#progressNum {
	width: 700px;
}

#progressBar{
	text-align: center;
}
